@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.alert_success {
    padding: 15px 46px;
    background-color: #354034;
    border-radius: 5px;
    border: 1px solid #2f6610;
    margin-block: 12px;
}

.alert_error {
    padding: 15px 46px;
    background-color: #5e3b3b;
    border-radius: 5px;
    border: 1px solid #661010;
    margin-block: 12px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 90%;
    position: relative;
    background-color: #131317;
    font-family: "Inter", sans-serif;
    color: white;
}

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.clock .hr,
.clock .min,
.clock .seg {
    font-size: 40px;
}

.clock span {
    color: #0179e9;
    font-weight: 600;
}

.header {
}

.navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 89px;
    background-color: #20203f;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    z-index: 9999; /* Para garantir que a navbar esteja sempre no topo */
}

.navbar_link {
    width: 85px;
    height: 85px;
    text-decoration: none;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: 0.4s ease-in-out;
}

.navbar_link:hover {
    border-radius: 5%;
    background-color: #35353b;
}

a {
    color: #0179e9;
}

.header {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
    width: 100%;
    background-color: #20203f;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999; /* Para garantir que a navbar esteja sempre no topo */
}

.img {
    content: "";
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-image: url("/images/logo_empresa.png");

    background-position: center;
    background-size: cover;
}

.container {
    position: relative;
    padding-top: 500px;
    margin: 80px auto 0;
    max-width: 400px;
    min-height: 100%;
    padding: 12px;

    border-radius: 15px 15px 0 0;
    /* border: 1px solid rgb(255, 255, 255); */
}

/* ------------------ */
.actions_container {
    margin-block: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 15px;
}

.stock_container {
    margin-block: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    overflow-y: auto;
    height: 15em;
}

.action_box {
    padding: 5px;
    width: 100%;
    height: 72px;

    display: flex;
    align-items: center;
    /* justify-content: space-between; */

    border-radius: 5px;
    color: white;
    background-color: #28282e;

    cursor: pointer;
    text-decoration: none;
}

.action_box-item {
    padding: 5px 50px;
    width: 100%;
    height: 72px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 5px;
    color: white;
    background-color: #28282e;

    cursor: pointer;
    text-decoration: none;
}

.link_button {
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}

.link_button:hover {
    background-color: #20203f;
}

.link_button .img_box {
    background: none;
}

.action_box h2 {
    font-size: 16px;
    padding-inline: 20px;
}

.img_box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 10px 20px;
    content: "";
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: #838395;
}

.img_box img {
    object-fit: contain;
}

/* --------------- */
.stock_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-block: 30px;
}

.title {
    font-size: 16px;
}

/* ----------------- */
.income_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.income_display {
    width: 180px;
    height: 70px;
    padding: 0 13px;
    border-radius: 5px;
    background-color: #28282e;
}

.income_title-loss {
    font-size: 12px;
    color: #e95401;
    font-weight: 600;

    padding-block: 12px;
}

.income_title-gain {
    font-size: 12px;
    color: #67e901;
    font-weight: 600;

    padding-block: 12px;
}

.income_display h3 {
    font-size: 16px;
}

.item-price {
    border: 1px solid #838395;
    border-radius: 4px;
    color: white;

    background-color: #28282e;
    padding: 12px 16px;
    width: 90px;
}

.income_form {
    margin-block: 30px;

    max-width: 100%;
}

.income_form-group {
    margin-block: 12px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.item_form-type {
    width: 90%;
    padding: 8px;

    cursor: pointer;
    color: white;

    background-color: #28282e;
    padding: 12px 16px;
    border: 1px solid #838395;

    border-radius: 4px;
}

.income_form button {
    cursor: pointer;
    color: white;

    background-color: #28282e;
    padding: 12px 16px;
    border: 1px solid #838395;
    border-radius: 4px;

    transition: 0.5s ease-in-out;
}

.income_form button:hover {
    background-color: #20203f;
}

.item_form-price {
    border: 1px solid #838395;
    border-radius: 4px;
    color: white;

    background-color: #28282e;
    padding: 12px 16px;
    width: 90px;
}

.item_form-name {
    border: 1px solid #838395;
    border-radius: 4px;
    color: white;

    background-color: #28282e;
    padding: 12px 16px;
    width: 100%;
}

.income_item {
    margin: 14px 0;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #28282e;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.income_list {
    height: 70vh;
    overflow-y: auto;

    padding-bottom: 120px;
}

.income_item-name {
    flex: 1;
    font-size: 14px;
}

.income_item-qnt {
    width: 80px;
    text-align: center;

    font-size: 14px;
    font-weight: 600;

    color: #0179e9;
}

.income_item-price {
    width: 120px;
    text-align: center;

    font-weight: 700;
    color: #838395;
}

/* ------------------- */

.stock_display {
    height: 340px;
    overflow-y: scroll;
    padding-bottom: 80px;
}

.stock {
    cursor: default;
}

.form_stock {
    display: flex;
    align-items: center;

    gap: 12px;
}

.form_stock button {
    color: white;
    border: 1px solid #838395;
    background-color: #28282e;
    border-radius: 4px;
    padding: 10px;

    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.form_stock button:hover {
    background-color: #3f3f46;
}

.stock_button-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.stock_button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;

    font-size: 18px;
    width: 30px;
    height: 30px;

    color: #0179e9;
    border: 1px solid #838395;
    background-color: #39393f;
    border-radius: 50%;

    cursor: pointer;
}

.search_bar {
    border: 1px solid #838395;
    color: white;

    background-color: #28282e;
    border-radius: 4px;
    padding: 10px;

    width: 100%;
}

.search_bar:focus {
    border: none;
}
